html, body {
    margin: 0;
    height: 100%;
    background: #1e2328;
}

pre {
    white-space: pre-wrap;
}

#file-upload {
    opacity: 0;
    height: 0px;
    width: 0px;
}

.upload-button {
    display: block;
    padding: 3px;
    cursor: pointer;
    background: #2a2e34;
    color: #f3d053;
    border-radius: 8px;
    text-align: center;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

#help-message {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-box {
    margin: 0;
    background: #1e2328;
    position: absolute;
    color: #fed053;
    font-size: 24px;
    padding: 16px;
    border-radius: 8px;
    visibility: hidden;
    display: flex;

    flex-direction: column;
}

#output {
    right: 1px;
    background: #1e2328;
}

#threads-count {
    flex-grow: 1;
    outline: none;
    accent-color: #fed053;
}

.radio-input {
    accent-color: #fed053;
}

.radio-option {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: #2a2e34;
}

.radio-label {
    cursor: pointer;
    user-select: none;
    display: block;
    width: 100%;
}
