html, body {
    margin: 0;
    height: 100%;
    background: #1e2328;
}

pre {
    white-space: pre-wrap;
}

input {
    accent-color: #fed053;
}

#file-upload {
    opacity: 0;
    height: 0px;
    width: 0px;
}

.upload-button {
    display: block;
    position: relative;
    padding: 3px;
    cursor: pointer;
    background: #2a2e34;
    color: #f3d053;
    border-radius: 8px;
    text-align: center;
}

#menu, #app-data {
    visibility: hidden;
}

.hor-options {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-direction: row;
}

.selector-box {
    text-align: center;
    border: 1px solid #fed053;
    border-radius: 8px;
    padding: 5px;
}

.canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.center-message{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}


.box {
    margin: 0;
    background: #1e2328;
    position: absolute;
    color: #fed053;
    font-size: 24px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#output {
    right: 1px;
    background: #1e2328;
}

#threads-count {
    flex-grow: 1;
    outline: none;
}

.option {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: #2a2e34;
}

.label {
    cursor: pointer;
    user-select: none;
    display: block;
    width: 100%;
    text-align: center;
}

.file-upload-text {
    transition: all 0.1s;
}

.button-loading .file-upload-text  {
    visibility: hidden;
    opacity: 0;
}

.button-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #fed053;
    border-radius: 50%;
    animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
